/AggregateCost.java
/ArrayOfCompanyDataCenterSettings.java
/ArrayOfCompanySupportSettings.java
/ArrayOfCustomVirtualDisk.java
/ArrayOfDatacenterConfig.java
/ArrayOfHypervisor.java
/ArrayOfint.java
/ArrayOfIPAddress.java
/ArrayOfIsoDetails.java
/ArrayOfJob.java
/ArrayOfKeyValuePair.java
/ArrayOfLog.java
/ArrayOfNetworkAdapter.java
/ArrayOfNetworkAdapterConfiguration.java
/ArrayOfPrice.java
/ArrayOfPriceList.java
/ArrayOfPriceModifier.java
/ArrayOfPublicIpAddressDetails.java
/ArrayOfResourceBound.java
/ArrayOfResourceCost.java
/ArrayOfServer.java
/ArrayOfServerCost.java
/ArrayOfServerDetails.java
/ArrayOfSnapshot.java
/ArrayOfTemplateDetails.java
/ArrayOfVirtualDisk.java
/ArrayOfVirtualDiskDetails.java
/ArrayOfVirtualDiskUpdate.java
/ArrayOfVirtualDVD.java
/ArrayOfVLan.java
/BillingTypes.java
/CloudEntity.java
/Company.java
/CompanyDataCenterSettings.java
/CompanySettings.java
/CompanySupportSettings.java
/Cpu.java
/Credit.java
/CustomVirtualDisk.java
/DatacenterConfig.java
/DatacenterConfigStatus.java
/ExceptionInfo.java
/ExportVirtualDisk.java
/FTP.java
/FTPAccountStatus.java
/FTPCost.java
/FTPServer.java
/GetCompanyByUrl.java
/GetCompanyByUrlResponse.java
/GetCredit.java
/GetCreditResponse.java
/GetCustomVirtualDisks.java
/GetCustomVirtualDisksResponse.java
/GetDatacenterConfigurations.java
/GetDatacenterConfigurationsResponse.java
/GetHypervisors.java
/GetHypervisorsResponse.java
/GetIsos.java
/GetIsosResponse.java
/GetJobs.java
/GetJobsResponse.java
/GetLogs.java
/GetLogsResponse.java
/GetPriceList.java
/GetPriceListResponse.java
/GetPurchasedFTP.java
/GetPurchasedFTPResponse.java
/GetPurchasedIpAddresses.java
/GetPurchasedIpAddressesResponse.java
/GetPurchasedVLans.java
/GetPurchasedVLansResponse.java
/GetServerDetails.java
/GetServerDetailsResponse.java
/GetServers.java
/GetServersResponse.java
/GetUserAuthenticationToken.java
/GetUserAuthenticationTokenResponse.java
/GetUserInfo.java
/GetUserInfoResponse.java
/GetVDCGraph.java
/GetVDCGraphResponse.java
/GetVirtualDatacenter.java
/GetVirtualDatacenterCost.java
/GetVirtualDatacenterCostResponse.java
/GetVirtualDatacenterResponse.java
/Hypervisor.java
/HypervisorServerTypes.java
/HypervisorTypes.java
/IPAddress.java
/IpAddressCost.java
/IsoDetails.java
/IsoTypes.java
/Job.java
/JobStatus.java
/KeyValuePair.java
/Log.java
/NetworkAdapter.java
/NetworkAdapterConfiguration.java
/NetworkAdapterTypes.java
/NewIso.java
/NewServer.java
/ObjectFactory.java
/package-info.java
/Price.java
/PriceList.java
/PriceModifier.java
/PrivateVLanDetails.java
/PublicIpAddressDetails.java
/Ram.java
/ResourceBound.java
/ResourceCost.java
/ResourceTypes.java
/Roles.java
/Server.java
/ServerCost.java
/ServerDetails.java
/ServerParameterKeys.java
/ServerRestore.java
/ServerStatus.java
/ServerUpdate.java
/SetAddVDCGraph.java
/SetAddVDCGraphResponse.java
/SetChangeNoteServer.java
/SetChangeNoteServerResponse.java
/SetEnqueueAssociateIpAddress.java
/SetEnqueueAssociateIpAddressResponse.java
/SetEnqueueAssociateVLan.java
/SetEnqueueAssociateVLanResponse.java
/SetEnqueueCreateFTPAccount.java
/SetEnqueueCreateFTPAccountResponse.java
/SetEnqueueDeassociateIpAddress.java
/SetEnqueueDeassociateIpAddressResponse.java
/SetEnqueueDeassociateVLan.java
/SetEnqueueDeassociateVLanResponse.java
/SetEnqueueMountDvdIso.java
/SetEnqueueMountDvdIsoResponse.java
/SetEnqueueResizeFTPAccount.java
/SetEnqueueResizeFTPAccountResponse.java
/SetEnqueueServerArchiviation.java
/SetEnqueueServerArchiviationResponse.java
/SetEnqueueServerCreation.java
/SetEnqueueServerCreationResponse.java
/SetEnqueueServerDeletion.java
/SetEnqueueServerDeletionResponse.java
/SetEnqueueServerPowerOff.java
/SetEnqueueServerPowerOffResponse.java
/SetEnqueueServerReset.java
/SetEnqueueServerResetResponse.java
/SetEnqueueServerRestart.java
/SetEnqueueServerRestartResponse.java
/SetEnqueueServerRestore.java
/SetEnqueueServerRestoreResponse.java
/SetEnqueueServerSnapshot.java
/SetEnqueueServerSnapshotResponse.java
/SetEnqueueServerStart.java
/SetEnqueueServerStartResponse.java
/SetEnqueueServerStop.java
/SetEnqueueServerStopResponse.java
/SetEnqueueServerUpdate.java
/SetEnqueueServerUpdateResponse.java
/SetEnqueueUnmountDvdIso.java
/SetEnqueueUnmountDvdIsoResponse.java
/SetEnqueueVirtualDiskExport.java
/SetEnqueueVirtualDiskExportResponse.java
/SetEnqueueVirtualDiskManage.java
/SetEnqueueVirtualDiskManageResponse.java
/SetPurchaseIpAddress.java
/SetPurchaseIpAddressResponse.java
/SetPurchaseVLan.java
/SetPurchaseVLanResponse.java
/SetRemoveIpAddress.java
/SetRemoveIpAddressResponse.java
/SetRemoveVLan.java
/SetRemoveVLanResponse.java
/SetRenameServer.java
/SetRenameServerResponse.java
/SetRenameVLan.java
/SetRenameVLanResponse.java
/SetUpdateVDCGraph.java
/SetUpdateVDCGraphResponse.java
/Snapshot.java
/SnapshotOperationTypes.java
/SnapshotStatusTypes.java
/Template.java
/TemplateDetails.java
/TemplateTypes.java
/UserInfo.java
/UserStatus.java
/UserToken.java
/VirtualDatacenter.java
/VirtualDatacenterCost.java
/VirtualDisk.java
/VirtualDiskCost.java
/VirtualDiskDetails.java
/VirtualDiskOperationTypes.java
/VirtualDiskTypes.java
/VirtualDiskUpdate.java
/VirtualDVD.java
/VLan.java
/WsResult.java
/WsResultOfArrayOfCustomVirtualDisk.java
/WsResultOfArrayOfDatacenterConfig.java
/WsResultOfArrayOfHypervisor.java
/WsResultOfArrayOfIPAddress.java
/WsResultOfArrayOfIsoDetails.java
/WsResultOfArrayOfJob.java
/WsResultOfArrayOfLog.java
/WsResultOfArrayOfPriceList.java
/WsResultOfArrayOfServer.java
/WsResultOfArrayOfVLan.java
/WsResultOfCompanySettings.java
/WsResultOfCredit.java
/WsResultOfFTP.java
/WsResultOfIPAddress.java
/WsResultOfServerDetails.java
/WsResultOfstring.java
/WsResultOfUserInfo.java
/WsResultOfUserToken.java
/WsResultOfVirtualDatacenter.java
/WsResultOfVirtualDatacenterCost.java
/WsResultOfVLan.java
